restApp/src/main/resources/wsdl/employee.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.parameta.com/soap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.parameta.com/soap/gen" targetNamespace="http://www.parameta.com/soap/gen">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.parameta.com/soap/gen">

    <xs:element name="SaveEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SaveEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="employee">
        <xs:sequence>
            <xs:element name="names" type="xs:string"/>
            <xs:element name="lastNames" type="xs:string"/>
            <xs:element name="documentType" type="xs:string"/>
            <xs:element name="documentNumber" type="xs:string"/>
            <xs:element name="birthDate" type="xs:date"/>
            <xs:element name="vinculationDate" type="xs:date"/>
            <xs:element name="role" type="xs:string"/>
            <xs:element name="salary" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="SaveEmployeeResponse">
    <wsdl:part element="tns:SaveEmployeeResponse" name="SaveEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SaveEmployeeRequest">
    <wsdl:part element="tns:SaveEmployeeRequest" name="SaveEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="employeePort">
    <wsdl:operation name="SaveEmployee">
      <wsdl:input message="tns:SaveEmployeeRequest" name="SaveEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:SaveEmployeeResponse" name="SaveEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="employeePortSoap11" type="tns:employeePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="SaveEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SaveEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="employeePortService">
    <wsdl:port binding="tns:employeePortSoap11" name="employeePortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>